.clockface {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;

    border: solid 2px black;
    border-radius: 50%;
}

.pointer {
    height: 50%;
    width: 2px;
    position: absolute;
    left: 50%;

    background-color: black;
    transform-origin: bottom;
}
